
h1, h2 {
    color: #000000;
    text-align: center;
}

.description-container {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    text-align: justify;
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #45a049;
}